%h1 Listing clinicians

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @clinicians.each do |clinician|
    %tr
      %td= clinician.name
      %td= link_to 'Show', clinician
      %td= link_to 'Edit', edit_clinician_path(clinician)
      %td= link_to 'Destroy', clinician, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New clinician', new_clinician_path
