= form_for @clinician_session, :url => login_path do |f|
  -if @clinician_session.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@clinician_session.errors.count, "error")} prohibited this clinician from being saved:"
      %ul
        - @clinician_session.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.check_box :remember_me
    = f.label :remember_me
  .action
    = f.submit "Login"
