<!DOCTYPE html>
<html>
<head>
  <title>AuthlogicRails3Example</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
  <% if current_user %>
    Hello <%= current_user.name %> (<%= link_to 'Not you?', logout_path, :method => :delete %>)
  <% end %>
</p>

<%= yield %>

</body>
</html>
